/* css/base/_variables.css */

:root {
    --bg-base: #0a0a0c; 
    --surface: #141416; 
    --pill-bg: #111111; 
    --border-color: rgba(255, 255, 255, 0.08);
    
    --text-main: #ffffff;
    --text-muted: #6b6b6b;
    
    --accent-bg: #e8e8e8; 
    --accent-icon: #000000;
    --danger: #ff453a;
    
    /* --- ЦВЕТОВЫЕ АКЦЕНТЫ РАЗДЕЛОВ --- */
    --accent-music: #44bd32; 
    --accent-games: #7c3aed; /* ИЗМЕНЕНО: Более глубокий, насыщенный неоново-фиолетовый */
    --accent-shop: #ffd700;  

    --radius-pill: 100px;
    --radius-large: 20px;
    --radius-medium: 12px;
}